@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #f3edc9 0%, rgba(255, 255, 255, 0) 100%);
}

:root {
  --radial-gradient-background: 250, 250, 250;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-blend-soft-light;
  }
}

.product-template-cols {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "item-1 item-3 item-4"
    "item-2 item-3 item-5";
}

@media only screen and (max-width: 1200px) {
  .product-template-cols {
    grid-template-columns: 1fr;
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-4"
      "item-5"
      "item-6";
  }
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}
